<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"><%- include('./partials/sidebar') %></div>
        <div class="col-sm-10">
          <h1><%= title %></h1>
          <% if(!category_list.length){ %>
          <p>There are no categories</p>
          <% } else { %>
          <ul>
            <% category_list.forEach((item) => { %>
            <li>
              <a href="<%= item.url %>"> <%= item.name %> </a>
            </li>
            <% }) %>
          </ul>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
