<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2"><%- include('./partials/sidebar') %></div>
        <div class="col-sm-10">
          <h1>Item: <%= item.name %></h1>
          <p>
            Category :
            <a href="<%= item.category.url %>"> <%= item.category.name %> </a>
          </p>
          <p>Description : <%= item.description %></p>
          <p>Stock : <%= item.stock %></p>
          <p>Price : <%= item.price %></p>
          <hr />
          <p>
            <a href="<%= item.url %>/delete">Delete Item</a>
          </p>
          <p>
            <a href="<%= item.url %>/update">Update Item</a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
